// colors
$colors: (
  // shades
  --global: (
    // shade - value
    -white: #fff,
    -grey: #b2b2b2,
  ),
  // shades
  --accent: (
    // shade - value
    -black: #000,
    -grey: #444444,
  ),
);